.body {
    flex: 1;
    padding: 16px 16px 36px;

    display: flex;
    flex-direction: column;

    overflow-y: scroll;
    overflow-x: hidden;
}

.body-title {
    padding: 0 3px 8px;
    color: var(--text-color-secondary);
}

.body-content {
    background-color: var(--background-color-accent);
    padding: 8px 16px;
    line-height: 1.5;
    font-size: 12px;
    border: 1px dashed var(--border-color-secondary);
    border-radius: 2px;
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;

    font-family: var(--handwriting-font);

    &.loading {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.body-loader {
    padding: 8px 16px;
    font-style: italic;
}

.body-description {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.body-refresh {
    height: 40px;
    width: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--text-color-inverted);
    border: 2px solid var(--border-color-secondary);
    padding: 4px;
    border-radius: 4px;
    color: var(--text-color-secondary);

    margin-right: 4px;

    height: min-content;
    width: min-content;
}

.body-refresh-glyph {
    width: 16px;
    transform: rotate(5deg);
}
