.body {
    flex: 1;
    padding: 16px 16px 36px;

    display: flex;
    flex-direction: column;

    overflow-y: scroll;
    overflow-x: hidden;
}

.body-title {
    padding: 0 3px 8px;
    color: var(--text-color-secondary);
}

.body-content {
    background-color: var(--background-color-accent);
    padding: 8px 16px;
    line-height: 1.5;
    font-size: 12px;
    border: 1px dashed var(--border-color-secondary);
    border-radius: 2px;
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;

    font-family: var(--handwriting-font);

    &.loading {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.body-loader {
    padding: 8px 16px;
    font-style: italic;
}
